.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: thin solid black;
}

.logo {
  padding: 5px 10px 5px 30px;
}

.name {
  color: MediumAquamarine;
  padding: 0px 100px 0px 0px;
}

.nav {
  width: 300px;
  display: inline-flex;
  justify-content: space-between;
  padding: 0px 30px 0px 700px;
}

.nav a {
  color: black;
}

.column {
  padding: 30px 15px 0px 15px;
  width: 1300px;
  display: inline-flex;
  justify-content: space-between;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column .large {
  width: 630px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;
}

#tuna {
  background-image: url(resources/img-story-main.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin: 0px 0px;
}

#valley {
  display: flex;
}

.orca {
  width: 300px;
}

#earth {
  width: 300px;
  background-image: url(resources/img-story-fall.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.burger {
  width: 300px;
}

#cameras {
  width: 300px;
  background-image: url(resources/img-story-cameraman.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.column .medium {
  width: 300px;
}

.fbi {
}

#cats {
  background-image: url(resources/img-story-cat.png);
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

#ny {
}

.column .small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

#cookie {
  width: 240px;
}

.bites {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
}

#list {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

#news {
  text-align: center;
}

#emoji {
  border-top: thin solid black;
  align-items: center;
  margin: 0px;
  padding: 15px 0px 0px 15px;
}

#youtube {
  border-top: thin solid black;
  align-items: center;
  padding: 15px 0px 0px 15px;
}

#ideas {
  border-top: thin solid black;
  align-items: center;
  padding: 15px 0px 0px 15px;
}

#online {
  border-top: thin solid black;
  align-items: center;
  padding: 15px 0px 0px 15px;
}

#marketing {
  border-top: thin solid black;
  align-items: center;
  padding: 15px 0px 0px 15px;
}

#secret {
  border-top: thin solid black;
  border-bottom: thin solid black;
  align-items: center;
  margin: 0px;
  padding: 15px 0px 15px 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  width: 1300px;
  height: 325px;
}

.title {
  border-right: medium solid white;
  padding: 0px 25px 0px 0px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

nav {
  display: inline-block;
  margin: 0px;
  padding: 0px 0px 0px 25px;
}

nav a {
  color: black;
  padding: 20px 10px;
}

.end {
  display: block;
  padding: 20px 25px;
}
